{% extends 'base.html.twig' %}

{% block title %}footstars | Accueil{% endblock %}

{% block body %}
    <div class="page-wraper">
        <div class="section-full content-inner">
            <div class="container">
                <div class="row col-set-block white-block">
                    <!-- Center Section -->
                    <div class="col-sm-12 col-lg-12 col-12">
                        <!-- TEST ---->
                        <!-- Latest Match -->
                        <div class="dez-head-bx m-a-out m-b20 skew-triangle right-top">
                            <h3 class="m-a0">Rencontre de la journée</h3>
                        </div>

                        <div class="col-md-12">

                        </div>
                        <!-- Latest Match End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-area"></div>
{% endblock %}
