<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138132327-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-138132327-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="footstars" />
        <meta name="robots" content="" />
        <meta http-equiv="Content-Language" content="fr,en" />
        <meta name="description" content="footstars 2.0 est un outil algorithmique qui génére des prédictions sur les matchs de football. Toutes les prédictions sont directement disponible sur le site internet."/>
        <meta property="og:title" content="footstars 2.0 - Outil algorithmique"/>
        <meta property="og:description" content="footstars 2.0 est un outil algorithmique qui génére des prédictions sur les matchs de football. Toutes les prédictions sont directement disponible sur le site internet." />
        <meta property="og:image" content="/assets/images/banniere.png" />
        <meta name="format-detection" content="telephone=no">

        <!-- Favicons Icon -->
        <link rel="icon" href="/assets/images/green-favicon-2.png" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/green-favicon-2.png" />

        <!-- Page Title Here -->
        <title>{{ block('title') }}</title>

        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.min.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <![endif]-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/hover.css">
        <link rel="stylesheet" type="text/css" class="skin" href="/assets/css/skin/skin-9.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/templete.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

        <!-- Revolution Slider Css -->
        <link rel="stylesheet" type="text/css" href="/assets/plugins/revolution/revolution/css/settings.css">
        <!-- Revolution Navigation Style -->
        <link rel="stylesheet" type="text/css" href="/assets/plugins/revolution/revolution/css/navigation.css">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>
    <body>
    <div class="page-wraper">
        <!-- header -->
        {% include 'header.html.twig' %}
        <!-- header END -->
        <div class="page-content">
            <!-- inner page banner -->
            <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/assets/images/banniere.png);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <span class="text-white" style="font-size: 28px">Le sport vu par les statistiques..</span>
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            {% block body %}{% endblock %}
        </div>
        <!-- Footer -->
        {% include 'footer.html.twig' %}
        <!-- Footer END-->
    </div>
    </body>

    <!-- JavaScript  files ========================================= -->
    <script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
    <script src="/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
    <script src="/assets/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="/assets/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="/assets/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="/assets/plugins/countdown/jquery.countdown.js"></script><!-- COUNTDOWN JS -->
    <script src="/assets/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
    <script src="/assets/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
    <script src="/assets/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
    <script src="/assets/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
    <script src="/assets/js/dz.ajax.js"></script><!-- CONTACT JS  -->

    <script src="/assets/js/custom.min.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="/assets/js/dz.carousel.min.js"></script><!-- SORTCODE FUCTIONS  -->


</html>
