<!-- Testimoniyal blog -->
<section class="mb-4">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</section>
<!-- Testimoniyal END -->
<footer class="site-footer footer-overlay bg-img-fix"
        style="background-image:url(/assets/images/banniere-footer.jpeg); background-position: center bottom; background-size: cover; display: block;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 footer-col-4">
                    <form role="search" method="post" action="/assets/script/mailchamp.php"
                          class="dzSubscribe bg-primary p-a20 text-white m-t15">
                        <h2 class="m-tb0 font-40">Contactez - nous</h2>
                        <div class="mb-2">
                            E-mail : <br>contact@footstars.com
                        </div>
                        <div>
                            Réseaux sociaux :
                            <ul class="social-line text-center">
                                <li><a style="font-size: 20px; margin: 10px" href="https://www.facebook.com/footstars/" target="blank" class="fa fa-facebook"></a></li>
                                <li><a style="font-size: 20px; margin: 10px" href="https://twitter.com/footstars" target="blank" class="fa fa-twitter"></a></li>
                                <li><a style="font-size: 20px; margin: 10px" href="https://www.instagram.com/footstars/" target="blank" class="fab fa-instagram"></a></li>
                                <li><a style="font-size: 20px; margin: 10px" href="https://www.snapchat.com/add/footstars" target="blank" class="fab fa-snapchat"></a></li>
                                <li><a style="font-size: 20px; margin: 10px" href="https://t.me/footstars" target="blank" class="fab fa-telegram"></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-sm-3 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Liens Bookmakers</h4>
                        <div class="dez-separator bg-primary"></div>
                        <ul>
                            <li><a href="https://www.unibet.fr/" target="_blank">Unibet</a></li>
                            <li><a href="https://www.winamax.fr/" target="_blank">Winamax</a></li>
                            <li><a href="https://www.betclic.fr/" target="_blank">Betclic</a></li>
                            <li><a href="/fixture/metaFixture" target="_blank">Meta Rencontres</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 footer-col-4">
                    <div class="widget widget_gallery">
                        <h4 class="m-b15 text-uppercase">Les mieux notés</h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-left"><span>© Copyright 2022 <br>Tous droits réservés.</span></div>
                <div class="col-lg-6 text-center">
                    JOUER COMPORTE DES RISQUES : ENDETTEMENT, ISOLEMENT, DÉPENDANCE
                    POUR ÊTRE AIDÉ APPELEZ LE 09-74-75-13-13 (APPEL NON SURTAXÉ)
                </div>
                <div class="col-lg-3 text-right ">
                    <a href="/mentions-legales">Mentions légales - CGU</a>
                </div>
            </div>
        </div>
    </div>
</footer>